* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 1;
}

.site-header {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  background-color: rgb(54, 97, 153);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover {
  color: #d1e0ff;
}

.active a {
  border-bottom: 2px solid white;
  padding-bottom: 4px;
}
