* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.site-header {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  background-color: rgb(54, 97, 153);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #e7e7e5;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover {
  color: #d1e0ff;
}

.active a {
  border-bottom: 2px solid white;
  padding-bottom: 4px;
}

@media (max-width: 425px) {
  .site-header {
    padding: 15px 10px;
  }

  .logo {
    font-size: 1rem;
  }

  .hamburger {
    display: block;
    font-size: 1rem;
  }

  nav.open li {
    padding: 10px 10px;
  }
}

@media (max-width: 1023px) {
  .site-header {
    padding: 15px 20px;
  }

  .logo {
    font-size: 1.2rem;
  }

  .hamburger {
    display: block;
    font-size: 1.2rem;
  }

  nav {
    display: none;
  }

  nav.open {
    display: block;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: rgb(54, 97, 153);
    z-index: 10;
  }

  nav.open ul {
    flex-direction: column;
    gap: 0;
  }

  nav.open li {
    padding: 10px 20px;
  }
}

@media (min-width: 1024px) {
  nav {
    display: block;
  }

  .hamburger {
    display: none;
  }
}
